:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Neutral Colors */
  --neutral-900: #0D082D;
  --neutral-700: #4B4869;
  --neutral-500: #8784A5;
  --neutral-300: #D1D0D5;
  --neutral-0: #FFFFFF;

  /* Orange Colors */
  --orange-700: #E1604F;
  --orange-500: #F57463;
  --gradient-01: linear-gradient(90deg, #F37362 0%, #FFFFFF 100%);

  /* Spacing */
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;

  /* Border Radius */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input {
  all: unset;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./fonts/Inconsolata/Inconsolata-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./fonts/Inconsolata/Inconsolata-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
